@use "sass:math";

//*<Modules>=======================================================================================================

@import "base/fonts.scss";
@import "base/function";
@import "base/animation";
@import "base/variables";
@import "base/nullstyle";
@import "base/common";

//*</Modules>=====================================================================================================

//*<Components>================================================================================================

//?==============<Big>============== 
//?==============</Big>=============

//?==============<Small>============== 
@import "components/small//btn";
//?==============</Small>=============

//*</Components>=================================================================================================

//*<Main grid>==================================================================================================

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 992px) {
        max-width: 720px;
    }
    @media (max-width: 768px) {
        max-width: 540px;
    }
    @media (max-width: 576px) {
        max-width: none;
        padding: 0 16px;
    }
}

.page{
    flex: 1 1 auto;
}


//*</Main grid>=================================================================================================

//TODO<Blocks>=================================================================================================


@import "./blocks/hero";
@import "./blocks/box";

//TODO</Blocks>=================================================================================================
